@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@500&display=swap");
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

.Btn {
  cursor: pointer;
  color: #64ffda;
  background-color: transparent;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  border: 1px solid #64ffda;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
}
.Btn:hover {
  background-color: rgba(100, 255, 218, 0.1);
}

header {
  color: green;
  width: 100%;
  position: fixed;
  top: 0;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(10, 25, 47, 0.85);
  padding-inline: 50px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  z-index: 99;
}
header.hideHeader {
  height: 70px;
  -webkit-transform: translateY(-72px);
          transform: translateY(-72px);
}
header.showHeader {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
header .logo {
  width: 120px;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav ul li {
  margin-inline: 15px;
}
header nav ul li a {
  text-decoration: none;
  color: #ccd6f6;
  font-size: 13px;
  font-family: "Roboto Mono", monospace;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
header nav ul li a:hover {
  color: #64ffda;
}
header nav ul li a span {
  margin-right: 5px;
  color: #64ffda;
}
header .icon {
  display: none;
}
header i {
  cursor: pointer;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  header {
    padding: 0px 25px;
  }
  header.active .nav {
    visibility: visible;
    width: min(75vw, 400px);
  }
  header.active .openNavbar {
    display: none !important;
  }
  header.active .closeNavbar {
    font-size: 30px;
    display: block !important;
  }
  header .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 0;
    top: 0;
    width: 0;
    visibility: hidden;
    position: absolute;
    background-color: #112240;
    -webkit-box-shadow: -10px 0px 30px -15px rgba(2, 12, 27, 0.7);
            box-shadow: -10px 0px 30px -15px rgba(2, 12, 27, 0.7);
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
  header .nav ul {
    width: 100%;
    row-gap: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .nav ul li {
    margin: 0;
  }
  header .nav ul a {
    font-size: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    width: 100%;
  }
  header .nav ul a span {
    margin: 0 0 8px 0;
  }
  header .nav .resumeBtn {
    margin: 10% auto 0px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0s;
    transition: 0s;
    font-size: 14px;
    padding: 18px 50px;
  }
  header .icon {
    width: 30px;
    color: #64ffda;
    display: block !important;
    z-index: 1;
  }
  header .icon .openNavbar {
    font-size: 30px;
    display: block;
  }
  header .icon .closeNavbar {
    display: none;
  }
}
main {
  background-color: #0a192f;
}
main .developer-intro {
  padding: 11% 13%;
}
main .developer-intro .dev-name {
  color: #64ffda;
  font-family: "Roboto Mono";
  font-size: 1.3rem;
  margin: 0px 0px 30px 4px;
}
main .developer-intro .dev-name::first-letter {
  text-transform: capitalize;
}
main .developer-intro #devName > h2 {
  font-size: clamp(40px, 8vw, 80px);
  color: #ccd6f6;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  text-transform: capitalize;
  line-height: 1.1;
  font-weight: 600;
}
main .developer-intro #devName > h3 {
  font-size: clamp(40px, 8vw, 80px);
  color: #8892b0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 0.9;
  margin: 5px 0;
  font-weight: 600;
}
main .developer-intro #devName > h3::first-letter {
  text-transform: capitalize;
}
main .developer-intro #devName > p {
  margin: 20px 0px 0px;
  max-width: 540px;
  color: #8892b0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.3;
}
main .developer-intro .first-btn {
  margin: 50px 0;
}
main #about {
  font-family: "Roboto Mono", monospace;
  color: #8892b0;
  padding: 10% 15%;
}
main #about h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ccd6f6;
  font-size: 2.5rem;
  margin-bottom: 3rem;
}
main #about h2::after {
  display: block;
  position: relative;
  content: "";
  width: 13rem;
  height: 0.1rem;
  top: 0.2rem;
  margin: 0 1rem;
  background-color: #8892b0;
}
main #about .info {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 3rem;
}
main #about .info p:not(:last-child) {
  padding-bottom: 2rem;
}
main #about .info .profileWrapper {
  border-radius: 0.5rem;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 1;
}
main #about .info .profileWrapper img {
  width: 25rem;
  border-radius: inherit;
}
main #about .info .profileWrapper::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #64ffda;
  opacity: 0.5;
  border-radius: inherit;
  z-index: 2;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
main #about .info .profileWrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #64ffda;
  top: 1.5rem;
  left: 1.5rem;
  border-radius: inherit;
  z-index: -1;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
main #about .info .profileWrapper:hover::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0.5;
  border-radius: inherit;
  z-index: 2;
}
main #about .info .profileWrapper:hover::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid #64ffda;
  top: 0.5rem;
  left: 0.5rem;
  border-radius: inherit;
  z-index: -1;
}
main #about .info #devStack {
  display: grid;
  grid-template-columns: auto auto auto;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
main #about .info #devStack li {
  margin: 0.2rem 0;
}
main #about .info #devStack li::before {
  content: "»";
  color: #64ffda;
  margin-right: 0.2rem;
}
main .work-experience {
  width: 700px;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
}
main .work-experience .work-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px 40px;
}
main .work-experience .work-title span {
  color: #64ffda;
  margin-right: 10px;
  font-family: "Roboto Mono", monospace;
  font-size: 22px;
}
main .work-experience .work-title h2 {
  font-size: 32px;
  font-weight: 600;
  color: #ccd6f6;
  font-family: "Noto Sans", sans-serif;
}
main .work-experience .work-content {
  display: -webkit-box;
  min-height: 340px;
}
main .work-experience .work-content .projectNames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 252px;
  overflow-y: scroll;
  overflow-x: hidden;
}
main .work-experience .work-content .projectNames::-webkit-scrollbar {
  width: 4px;
}
main .work-experience .work-content .projectNames::-webkit-scrollbar-track {
  background: transparent;
}
main .work-experience .work-content .projectNames::-webkit-scrollbar-thumb {
  background: #64ffda;
}
main .work-experience .work-content .projectNames button {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  border: none;
  background-color: transparent;
  color: #8892b0;
  width: 130px;
  height: 42px;
  padding: 15px;
  border-left: 2px solid #233554;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-align: left;
}
main .work-experience .work-content .projectNames button.active {
  background-color: #112240;
  color: #64ffda;
}
main .work-experience .work-content .projectNames button.active::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: -2px;
  background-color: #64ffda;
}
main .work-experience .work-content .projectNames button:hover {
  background-color: #112240;
  color: #64ffda;
  outline: 0px;
}
main .work-experience .work-content .project-inner {
  margin-left: 20px;
  padding: 10px 5px;
  width: 570px;
}
main .work-experience .work-content .project-inner h3 {
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 8px;
  font-size: 22px;
  color: #ccd6f6;
}
main .work-experience .work-content .project-inner .duration {
  margin-bottom: 25px;
  color: #a8b2d1;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
}
main .work-experience .work-content .project-inner div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .work-experience .work-content .project-inner div i {
  color: #64ffda;
}
main .work-experience .work-content .project-inner div p {
  padding-left: 30px;
  color: #8892b0;
  font-size: 15px;
  font-family: "Noto Sans", sans-serif;
  margin-bottom: 10px;
  line-height: 25px;
}
main .projects {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
}
main .projects-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px 40px;
}
main .projects-title span {
  color: #64ffda;
  margin-right: 10px;
  font-family: "Roboto Mono", monospace;
  font-size: 22px;
}
main .projects-title h2 {
  font-size: 32px;
  font-weight: 600;
  color: #ccd6f6;
  font-family: "Noto Sans", sans-serif;
}
main .projects-title::after {
  display: block;
  position: relative;
  content: "";
  width: 13rem;
  height: 0.1rem;
  top: 0.2rem;
  margin: 0 1rem;
  background-color: #8892b0;
}
main .projects-content-item {
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
main .projects-content-item-img {
  z-index: 1;
  max-width: 577px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  grid-area: 1/1/-1/7;
  -webkit-box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
          box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
  border-radius: 4px;
  cursor: pointer;
}
main .projects-content-item-img img {
  max-width: 100%;
  background-size: cover;
}
main .projects-content-item-img .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #64ffda;
  opacity: 0.2;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  border-radius: 4px;
}
main .projects-content-item-img:hover .overlay {
  opacity: 0;
}
main .projects-content-item-text {
  z-index: 2;
  text-align: right;
  grid-area: 1/6/-1/-1;
}
main .projects-content-item-text .type {
  color: #64ffda;
  margin-bottom: 10px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}
main .projects-content-item-text h3 {
  font-size: 28px;
  color: #ccd6f6;
  margin-bottom: 20px;
}
main .projects-content-item-text-wrapper {
  padding: 25px;
  background-color: #112240;
  border-radius: 4px;
  color: #a8b2d1;
  font-size: 18px;
  -webkit-box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
          box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
}
main .projects-content-item-text-wrapper p {
  line-height: 1.2;
}
main .projects-content-item-text-techs {
  margin: 25px 0px 25px;
}
main .projects-content-item-text-techs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  color: #a8b2d1;
  font-size: 16px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
main .projects-content-item-text-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
main .projects-content-item-text-links a img {
  width: 20px;
  height: 20px;
}

.opposite .projects-content-item-img {
  grid-area: 1/6/-1/-1;
}
.opposite .projects-content-item-text {
  grid-area: 1/1/-1/7;
  text-align: left;
}
.opposite .projects-content-item-text-techs ul {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.opposite .projects-content-item-text-links {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* Social Icons Styles */
.social__icons {
  width: 40px;
  position: fixed;
  bottom: 0;
  left: 40px;
  right: auto;
  z-index: 9999;
}
.social__icons .social__icons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}
.social__icons .social__icons__list .social__links a {
  display: inline-block;
  padding: 10px;
}
.social__icons .social__icons__list .social__links a .social__svg--dimensions {
  width: 20px;
  height: 20px;
  fill: none;
  color: rgb(168, 178, 209);
  -webkit-transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
  transition: all 0.25s cubic-bezier(0.65, 0.05, 0.36, 1);
}
.social__icons .social__icons__list .social__links a .social__svg--dimensions:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #64ffda;
}
.social__icons .social__icons__list .social__icons__list::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: rgb(168, 178, 209);
}

.social__icons__list::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: rgb(168, 178, 209);
}

.gmailLink {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: #a8b2d1;
}
.gmailLink div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gmailLink div a {
  color: inherit;
  margin: 20px auto;
  padding: 10px;
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  letter-spacing: 0.1em;
  line-height: 18px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-decoration: none;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}
.gmailLink div a:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #64ffda;
}
.gmailLink div::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
}

footer {
  color: red;
}