.continue_Sec {
    #continue_back_left {
        position: relative;
        object-fit: cover;
        object-position: 0 0;
        height: 100%;
        width: 50%;
        float: left;
    }

    #continue_obj_left {
        height: 22rem;
        left: 5%;
        bottom: 3rem;
    }

    #continue_right {
        background-image: url(../images/02_gagrdzeleba_background.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: cover;
        display: flex;
        justify-content: end;
        height: 100%;

        #continue_obj_right {
            height: 23rem;
            right: 1%;
            bottom: 2rem;
        }
    }

    #continue_info {
        position: absolute;
        width: 50%;
        top: 60%;
        left: 45%;
        transform: translate(-50%, -50%);
        background-color: $TextbackgroundColor;
        color: $darkTextColor;
        padding: 1rem;
        z-index: 1;

        h2 {
            margin-bottom: 0.5rem;
            font-weight: 500;
            font-size: 2rem;
        }

        #continue_images_resp {
            display: none;
        }

        p {
            font-size: 1rem;
        }
    }
}