.ecology_Sec {
    #ecology_back_left {
        position: relative;
        object-fit: cover;
        object-position: 35% 0;
        height: 100%;
        width: 50%;
        float: left;
    }

    #ecology_obj_1 {
        height: 25rem;
        left: 1%;
        bottom: 4rem;
    }

    #ecology_right {
        background-image: url(../images/03_ekologia_background.svg);
        background-color: $backgroundColor;
        background-position: right;
        background-position-x: 83%;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        width: 50%;
        float: right;

        #ecology_obj_2 {
            height: 30rem;
            right: 15%;
            bottom: 3rem;
        }

        #ecology_obj_3 {
            height: 22rem;
            right: 1%;
            bottom: 2rem;
        }
    }

    #ecology_info {
        position: absolute;
        top: 5%;
        left: 20%;
        width: 40%;
        min-height: fit-content;
        max-height: 90%;
        background-color: $TextbackgroundColor;
        color: $darkTextColor;
        padding: 1rem;
        overflow: scroll;
        z-index: 1;

        h2 {
            margin-bottom: 0.5rem;
            font-weight: 500;
            font-size: 2rem;
        }

        #ecology_images_resp {
            display: none;
        }

        p {
            margin-top: 1rem;
            font-size: 1rem;
        }
    }
}