.introduction_Sec {
    background-color: white;
    padding: 5% 5% 0 5%;
    overflow: scroll;

    h2 {
        display: none;
    }

    p {
        color: $darkTextColor;
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
}