@font-face {
    font-family: "mainFont";
    src: url(../fonts/bpg_arial_2009.ttf) format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Nino_Mtavruli";
    src: url(../fonts/bpg_nino_mtavruli_book.ttf) format("truetype");
    font-display: swap;
}

@import './components/reset';
@import './components/variables';
@import './components/animations';
@import './components/header';
@import './components/slider';
@import './components/introduction';
@import './components/threeFigure';
@import './components/continue';
@import './components/ecology';
@import './components/littleCreatures';
@import './components/stars';
@import './components/love';