.desktop {
    .ecology_Sec {
        #ecology_back_left {
            position: relative;
            object-fit: cover;
            object-position: 35% 0;
            height: 100%;
            width: 50%;
            float: left;
        }

        #ecology_back_right {
            position: relative;
            object-fit: cover;
            object-position: 85% 0;
            height: 100%;
            width: 50%;
            float: right;
        }

        #ecology_obj_1 {
            height: 25rem;
            left: 1%;
            bottom: 4rem;
        }

        #ecology_obj_2 {
            height: 30rem;
            right: 15%;
            bottom: 3rem;
        }

        #ecology_obj_3 {
            height: 22rem;
            right: 1%;
            bottom: 2rem;
        }

        #ecology_info {
            position: absolute;
            top: 5%;
            left: 20%;
            width: 40%;
            min-height: fit-content;
            max-height: 90%;
            background-color: $TextbackgroundColor;
            color: $darkTextColor;
            padding: 1rem;
            overflow: scroll;

            h2 {
                margin-bottom: 0.5rem;
                font-weight: 500;
                font-size: 2rem;
            }

                p {
                    margin-top: 1rem;
                    font-size: 1rem;
                }
        }
    }
}

.responsive{
    .ecology_Sec {
        color: $darkTextColor;
        background-color: white;

        h2 {
            font-weight: normal;
            padding: 1rem 1rem 0;
        }

        .ecology_Sec_Back_1 {
            background-color: $backgroundColor;
            background-image: url(../images/03_ekologia_background.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 27%;

            img {
                position: relative;
                padding: 10rem 1rem 3rem;
                left: 50%;
                transform: translateX(-50%);
                max-height: 35rem;
            }
        }

        .ecology_Sec_Back_2 {
            display: flex;
            justify-content: end;
            align-items: flex-end;
            background-color: $backgroundColor;
            background-image: url(../images/03_ekologia_background.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 80%;

            img {
                position: relative;
                padding-top: 5rem;
                bottom: 0;
                padding: 5rem 1rem;
                max-height: 25rem;
            }

            img:first-child{
                max-height: 30rem;
            }
        }

        p {
            margin: 1rem;
        }
    }
}