.desktop {
    .ecology_Sec {
        #ecology_back_left {
            position: relative;
            object-fit: cover;
            object-position: 35% 0;
            height: 100%;
            width: 50%;
            float: left;
        }

        #ecology_obj_1 {
            height: 25rem;
            left: 1%;
            bottom: 4rem;
        }

        #ecology_right {
            background-image: url('../images/03_ekologia_background.svg');
            background-color: $backgroundColor;
            background-position: right;
            background-position-x: 70%;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;

            #ecology_obj_2 {
                height: 30rem;
                right: 15%;
                bottom: 3rem;
            }

            #ecology_obj_3 {
                height: 22rem;
                right: 1%;
                bottom: 2rem;
            }
        }

        #ecology_info {
            position: absolute;
            top: 5%;
            left: 20%;
            width: 40%;
            min-height: fit-content;
            max-height: 90%;
            background-color: $TextbackgroundColor;
            color: $darkTextColor;
            padding: 1rem;
            overflow: scroll;
            z-index: 1;

            h2 {
                margin-bottom: 0.5rem;
                font-weight: 500;
                font-size: 2rem;
            }

            #ecology_images_resp {
                display: none;
            }

            p {
                margin-top: 1rem;
                font-size: 1rem;
            }
        }
    }
}

.responsive {
    .ecology_Sec {

        #ecology_back_left,
        #ecology_obj_1 {
            display: none;
        }

        #ecology_right {
            background-image: url('../images/03_ekologia_background.svg');
            background-color: $backgroundColor;
            background-position: right;
            background-position-x: 85%;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
            width: 100%;
            display: flex;

            #ecology_obj_2 {
                position: relative;
                height: 30rem;
                padding-top: 3rem;
                width: 100%;
                padding-right: 3rem;
            }

            #ecology_obj_3 {
                position: absolute;
                height: 20rem;
                right: 1%;
                transform: translateY(50%);
            }
        }

        #ecology_info {
            position: relative;
            width: 100%;
            background-color: $TextbackgroundColor;
            color: $darkTextColor;

            h2 {
                margin-bottom: 0.5rem;
                font-weight: 500;
                font-size: 2rem;
                padding: 1rem 1rem 0;
            }

            #ecology_images_resp {
                display: block;
                background-color: $backgroundColor;
                background-image: url(../images/03_ekologia_background.svg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 27%;

                #ecology_obj_resp {
                    position: relative;
                    padding: 10rem 1rem 3rem;
                    left: 45%;
                    transform: translateX(-50%);
                    max-height: 35rem;
                }
            }

            p {
                font-size: 1rem;
                margin: 1rem;
            }
        }
    }
}

@media screen and (max-width: 520px) {
    .responsive {
        .ecology_Sec {
            #ecology_right {
                justify-content: flex-start;

                #ecology_obj_2 {
                    width: fit-content;
                }
            }
        }
    }
}