header {
    position: relative;
    background-color: #E1F4FF;
    padding: 0.3rem 0;
    height: 9.6rem;

    #title {
        padding: 1rem;

        .fa-bars {
            float: left;
            padding-right: 0.8rem;
            color: $lightTextColor;
            font-size: x-large;
            display: none;
            cursor: pointer;
        }

        h1 {
            color: $darkTextColor;
            font-weight: 600;
        }

        p {
            font-family: "mainFontp", sans-serif;
            color: $lightTextColor;
            font-size: 1.8rem;
            font-weight: 100;
        }
    }

    nav {
        background-color: white;
        padding-left: 0.6rem;

        #tabs {
            display: flex;
            padding: 0.2rem 0;

            #closebtn {
                display: none;
            }

            li {
                display: block;
                float: left;
                text-align: center;
                font-size: 1rem;
                color: $lightTextColor;
                border-right: 1px solid $lightTextColor;
                padding: 0.3rem 0.5rem;
                cursor: pointer;
            }

            li[class~=active] {
                color: $activeColor;
                opacity: 1;
            }

            li:last-child {
                border: none;
            }
        }
    }
}

@media only screen and (max-width: 1060px) {
    header {
        #title {
            p {
                font-size: 1.5rem;
            }
        }

        nav {
            #tabs {
                li {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 890px) {
    header {
        height: fit-content;

        #title {
            padding-bottom: 0;

            .fa-bars {
                display: block;
            }

            p {
                display: none;
            }
        }

        nav {
            #tabs {
                display: grid;
                position: fixed;
                width: 0;
                height: 100%;
                top: 0;
                left: 0;
                padding: 0;
                background-color: rgba(255, 255, 255, 0.8);
                overflow-x: hidden;
                transition: 0.3s;
                z-index: 1;

                li {
                    position: relative;
                    display: flex;
                    align-items: center;
                    border: none;
                    text-align: left;
                    font-size: 1.2rem;
                    height: 100%;
                    margin-left: 2rem;
                }

                li::after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 0;
                    height: 1px;
                    width: 3rem;
                    background-color: $lightTextColor;
                }

                #closebtn {
                    display: flex;
                    position: relative;
                    font-size: 1.8rem;
                    width: fit-content;

                    .fa-xmark {
                        position: relative;
                        left: -1.5rem;
                    }
                }
            }

            #tabs[class~=openedNav] {
                width: 15rem;
            }
        }
    }
}

@media only screen and (max-width: 355px) {
    header {
        height: 4rem;

        #title {
            h1{
                font-size: 1.5rem;
            }
        }
    }
}