.desktop {
    .introduction_Sec {
        background-color: white;
        padding: 5% 5% 0 5%;
        overflow: scroll;

        p {
            color: $darkTextColor;
            font-size: 1.2rem;
            margin-bottom: 2rem;
        }
    }
}

.responsive {
    .introduction_Sec {
        color: $darkTextColor;
        background-color: white;
        padding: 1rem;

        h2 {
            font-weight: normal;
        }

        p {
            margin-bottom: 1rem;
        }
    }
}