.desktop {
    .little_Sec {
        #little_back {
            position: relative;
            object-fit: cover;
            object-position: 30% 0;
            transform: translateX(-30%);
            height: 100%;
        }

        #little_obj {
            height: 15rem;
            left: 5%;
            bottom: 2rem;
        }

        #little_info {
            position: absolute;
            bottom: 5%;
            right: 10%;
            width: 45%;
            background-color: $TextbackgroundColor;
            color: $darkTextColor;
            padding: 1rem;
            z-index: 1;

            h2 {
                margin-bottom: 0.5rem;
                font-weight: 500;
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}

.responsive {
    .little_Sec {
        #little_back {
            background-color: $backgroundColor;
            position: absolute;
            object-fit: cover;
            object-position: 35% 0;
            height: 100%;
            width: 100%;
            float: right;
        }

        #little_obj {
            position: relative;
            height: 15rem;
            width: 100%;
            top: 20rem;
        }

        #little_info {
            position: relative;
            width: 100%;
            background-color: $TextbackgroundColor;
            color: $darkTextColor;

            h2 {
                margin-bottom: 0.5rem;
                font-weight: 500;
                font-size: 2rem;
                padding: 1rem 1rem 0;
            }

            p {
                font-size: 1rem;
                margin: 1rem;
            }
        }
    }
}