.desktop {
    .introduction_Sec {
        background-color: white;
        padding: 5rem 5% 0 5%;
        height: calc(100vh - 9.2rem);

        p {
            color: $darkTextColor;
            font-size: 1.2rem;
            margin-top: 2rem;
        }
    }
}

.responsive {
    .introduction_Sec {
        h2{
            color: red;
            font-weight: 200;
        }
    }
}