.three_Sec {
    background-image: url("../images/01_samiPigura_background.svg");
    background-position-x: -70rem;

    img {
        height: 20rem;
        left: 11%;
        bottom: 2rem;
    }

    #three_figure_info {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        background-color: $backgroundColor;
        color: $darkTextColor;
        padding: 1rem;
        margin: 1rem;

        h2 {
            font-size: 2rem;
            font-weight: 500;
        }

        #three_figure_p {
            height: 100%;
            overflow: scroll;

            p {
                font-size: 1.1rem;
                margin-bottom: 1rem;
            }
        }

    }
}