.desktop {
    .three_Sec {
        background-image: url("../images/01_samiPigura_background.svg");
        background-position-x: -70rem;

        img {
            height: 20rem;
            left: 11%;
            bottom: 2rem;
        }

        #three_figure_info {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            min-height: fit-content;
            max-height: 90%;
            background-color: $TextbackgroundColor;
            color: $darkTextColor;
            padding: 1rem;
            margin: 1rem;
            overflow: scroll;

            h2 {
                font-size: 2rem;
                font-weight: 500;
            }

            p {
                font-size: 1.1rem;
                margin-bottom: 1rem;
            }
        }
    }
}

.responsive {
    .three_Sec {
        color: $darkTextColor;
        background-color: white;

        h2 {
            font-weight: normal;
            padding: 1rem 1rem 0;
        }

        .three_Sec_Back {
            background-color: $backgroundColor;
            background-image: url(../images/01_samiPigura_background.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 52%;

            img {
                position: relative;
                padding: 10rem 1rem 0;
                left: 50%;
                transform: translateX(-50%);
                max-height: 30rem;
            }
        }

        p {
            margin: 1rem;
        }
    }
}