.little_Sec {
    #little_image {
        position: relative;
        height: fit-content;

        #little_back {
            background-color: $backgroundColor;
            position: absolute;
            object-fit: cover;
            object-position: 35% 0;
            height: 100%;
            width: 100%;
        }

        #little_obj {
            position: relative;
            width: 18rem;
            padding-top: 15rem;
            left: 43%;
            transform: translateX(-50%);
            margin-bottom: 2rem;
        }
    }

    #little_info {
        position: relative;
        width: 100%;
        background-color: $TextbackgroundColor;
        color: $darkTextColor;

        h2 {
            margin-bottom: 0.5rem;
            font-weight: 500;
            font-size: 2rem;
            padding: 1rem 1rem 0;
        }

        p {
            font-size: 1rem;
            margin: 1rem;
        }
    }
}