.love_Sec {
    #love_back {
        background-color: $backgroundColor;
        background-image: url(../images/06_sikvaruli_background.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 18%;

        img {
            position: relative;
            padding: 10rem 1rem 1rem;
            left: 30%;
            transform: translateX(-30%);
            max-height: 30rem;
        }
    }

    #love_info {
        position: relative;
        width: 100%;
        background-color: $TextbackgroundColor;
        color: $darkTextColor;

        h2 {
            margin-bottom: 0.5rem;
            font-weight: 500;
            font-size: 2rem;
            padding: 1rem 1rem 0;
        }

        #ecology_images_resp {
            display: block;
            background-color: $backgroundColor;
            background-image: url(../images/03_ekologia_background.svg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 27%;

            #ecology_obj_resp {
                position: relative;
                padding: 10rem 1rem 3rem;
                left: 45%;
                transform: translateX(-50%);
                max-height: 35rem;
            }
        }

        p {
            font-size: 1rem;
            margin: 1rem;
        }
    }
}